.game-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 560px;
  height: 560px;
  border: 2px solid #333;
}

.tile {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.piece {
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.none-piece {
  display: none;
}

.drag-over {
  border: 2px dashed #666;
}

.can-move-here {
  border: 2px dashed green;
}

.hide {
  display: none;
}

.receiver-tile {
  background-color: yellow;
}
