.game-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 560px;
  height: 560px;
  border: 2px solid #333;
}

.tile {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
}
